.layui-form-checkbox span{
    color: #029789 !important
}
.myHead {
    padding: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

.myBorder1 {
    border: 1px solid #F2F2F2;
}

.myBorder2 {
    border: 1px solid #F2F2F2;
}

.myBorder3 {
    border: 1px solid #F2F2F2;
}
.c-green{
    color: #029789 !important
}
.bg-wine-red {
    background-color: #701500;
}

.bg-coffee {
    background-color: #6d3704;
}

.radius1 {
    border-radius: 10px
}
.radius2 {
    border-radius: 15px
}

.radius3 {
    border-radius: 25px
}

/*
 以下是属性选择器
 */
input[lay-bg="transparent"] {
    background-color: transparent;
    border-color: #eaf4ff;
    border-radius: 10px;
}
input[lay-bg="transparent"]:hover{
    border-color: #8133a9 !important;
}
input[lay-bg="transparent"]:focus{
    border-color: #8133a9 !important;
}
button[lay-bg="transparent"]{
    background-color: transparent;
    border: 1px solid #f9fcf4;
    border-radius: 10px;
}
button[lay-bg="transparent"]:hover{
    background-color: #53cfff;
}